h1 {
  color: #FFDF00;
  background-color: black;
  text-align: center;

}

#col-12 buttons {
  align: center;
}

buttons {
  align: center;
}
body {
  background-color: black;
}
p {
  color: silver;
  background-color: black;
}

.space{
  background-color: transparent;
  height: 15px;
}


.quizbox-container{
  background-color: silver;
  border-color: black;
  border-radius: 4px;
  box-shadow: 0 0px 10px #efef99;
}

.sidespace {
  border: none;
}
container {
  border-color: black;
}

.quiz-row {
  border-color: black;
}

.start:hover, .next:hover, .restart-button:hover {
  transform: scale(1.15);
  box-shadow: 0 0 5px;
}

.start {
  cursor: pointer;
  cursor: pointer;
  margin-bottom: 15px;
}

.next {
  display: none;
}

.restart-button {
  display: none;
  cursor: pointer;
  margin-bottom: 15px;
}

.current-question-box p {
  background-color: black;

}

li{
  cursor: pointer;
  color: black;
}

li:hover {
  transform: scale(1.15);
  /* box-shadow: 0 0 1 #000; */
  color: gold;
}

.score {
  color: silver;
  display: none;
  background-color: black;
  text-align: center;
}
